<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Sacrament Record Management and Information System for Saint Anthony of Padua Parish"
    />
    <meta name="author" content="kramz" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <title>World Cities</title>
  </head>
  <body>
    <h1>Top 10 Cities</h1>
    <button id="load">Load Cities</button>
    <ul id="city-list"></ul>
    <p id="info"></p>

    <div class="text-muted">Copyright &copy; SAPP InfoSys 2025</div>
    <div class="text-muted">Developed By: &copy Rjn T Ech | Kramz</div>
    <script src="../renderer.js"></script>
  </body>
</html>
